language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"
before_install:
  - pip install poetry
install:
  - python -m pip install -e ".[test]"
  - pip list
script:
  - pytest -m "not requires_gpu and not memory_intense and not slow and not travis_slow"
