################################################################
#### poetry config ####
################################################################

[tool.poetry]
name = "brainscore_language"
version = "0.1.0"
description = ""
authors = []
license = "MIT"

[tool.poetry.dependencies]
python = "3.8.*"
tqdm = "*"
numpy = "^1.17"
brainio = { git = "https://github.com/brain-score/brainio.git", branch="main" }
result_caching = { git = "https://github.com/brain-score/result_caching.git" }
scikit-learn = "<0.24"
scipy = "*"
scipy = "*"
h5py = "*"
gitpython = "*"
fire = "*"
networkx = "*"
tensorflow = "^1"
fire = "*"
pybtex = "*"
peewee = "*"
psycopg2-binary = "*"

[tool.poetry.dev-dependencies]
pdoc3 = "^0.10.0"
ipython = "^8"
mypy = "^0.931"
lxml = "^4.7.1"
pytest = "*"
coverage = {extras = ["toml"], version = "^6.3.1"}
pytest-html = "^3"
yapf = "^0.32.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"



################################################################
#### mypy type-checking config ####
################################################################

[tool.mypy]
ignore_missing_imports = true


[tool.pytest.ini_options]
testpaths = [
    "tests"
]